@import '../../scss/index';

.form-section {
    width: 100%;

    @include md {
        width: 45%;
    }

    .form-buttons {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
}
