.header {
    height: 100px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
    align-items: center;
    position: relative;

    .logo-container {
        height: 100%;
        width: 100px;
        cursor: pointer;
    }

    .logo {
        height: auto;
        width: auto;
    }

    .options {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
    }

    .option {
        padding-right: 15px;
        cursor: pointer;
    }

    .option:last-child {
        padding-right: 0;
    }

}
