@import './scss';

* {
    box-sizing: border-box;
}

body {
  font-family: 'Open Sans Condensed', sans-serif;
}

a {
    text-decoration: none;
    color: #000;

    &:hover {
        opacity: 0.6;
    }
}

.container {
    @include lg {
        padding: 10px 40px;
    }
    @include xl {
        padding: 20px 80px;
    }
}
